.box {
    width: 390px;
}

.all {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

button {
    background-color: rgb(116, 116, 230);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    width: 120px;
    color: white;
}

span {
    font-size: 54px;
    display: block;
    text-align: center;
}